.layer-vis-panel {
    display: flex;
    align-items: center;
    gap: 6px;
    padding: 6px;
    white-space: nowrap;
    pointer-events: auto;
    border: 1px solid rgba(255, 255, 255, 0.22);
    background-color: rgba(0, 0, 0, 0.55);
    backdrop-filter: blur(6px);
    border-radius: 5px;
    color: white;
}

.layer-vis-item {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 11px;
    padding: 8px;
    border-radius: 2px;
    border-bottom: 2px solid transparent;
    transition:
        color 0.15s,
        border-color 0.15s;
}

.layer-vis-item.is-active .layer-vis-name {
    color: #fff;
    font-weight: 600;
}

.layer-vis-item.is-active {
    /*outline: 1px solid rgba(255, 255, 255, 0.2);*/
    /*background-color: rgba(0, 0, 0, 0.3) !important;*/
    border-bottom-color: #4fc3f7;
}

.layer-vis-icon {
    width: 23px;
    height: 22px;
    background-image: url(../../../../editor/ui/layer_icons.webp);
    background-repeat: no-repeat;
    background-position-y: 0;
    background-size: auto 22px;
    flex-shrink: 0;
    margin: 0 6px 0 8px;
}

.layer-vis-name {
    user-select: none;
}

.layer-vis-sep {
    width: 1px;
    height: 14px;
    background: rgba(255, 255, 255, 0.2);
    margin: 0 6px;
}

.layer-vis-panel[data-mode="terrain"] .layer-vis-item {
    cursor: pointer;
    color: rgba(255, 255, 255, 0.5);
}
.layer-vis-panel[data-mode="terrain"] .layer-vis-item:not(:last-child):hover {
    color: rgba(255, 255, 255, 0.8);
}

.layer-vis-panel:not([data-mode="terrain"]) .layer-vis-item {
    cursor: default;
}
